# Import necessary Packages

In [14]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas_profiling
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

In [12]:
data=pd.read_csv('Retail_Data.csv')
data=data.iloc[:,1:]
data.head()
data.tail()
data.info()
data.describe()

  Product1   Product2 Product3
0    Bread     Butter    Dairy
1   Nachos     Butter    Dairy
2    Juice        Jam      Egg
3    Juice        Jam      Egg
4    Juice  Vegetable    Salad

     Product1 Product2 Product3
1995   Nachos    Salsa      Egg
1996    Juice      Jam      Egg
1997    Juice      Jam      Egg
1998    Juice      Jam      Egg
1999    Bread      Jam    Dairy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
Product1    2000 non-null object
Product2    2000 non-null object
Product3    2000 non-null object
dtypes: object(3)
memory usage: 47.0+ KB

       Product1 Product2 Product3
count      2000     2000     2000
unique        4        4        3
top       Bread      Jam      Egg
freq        702      682     1152

In [15]:
eda_report=pandas_profiling.ProfileReport(data)
eda_report.to_file("Retail_Market_EDA_report.html")

In [16]:
data1=pd.get_dummies(data)
data1.head()

,Product1_Bread,Product1_Fruits,Product1_Juice,Product1_Nachos,Product2_Butter,Product2_Jam,Product2_Salsa,Product2_Vegetable,Product3_Dairy,Product3_Egg,Product3_Salad
0,1,0,0,0,1,0,0,0,1,0,0
1,0,0,0,1,1,0,0,0,1,0,0
2,0,0,1,0,0,1,0,0,0,1,0
3,0,0,1,0,0,1,0,0,0,1,0
4,0,0,1,0,0,0,0,1,0,0,1

In [17]:
data1.shape

(2000, 11)

# find rules which have at least 5% support level

In [18]:
frequent_items=apriori(data1, min_support = 0.05, use_colnames=True)

# build rules with minimum lift of 1

In [20]:
rules = association_rules(frequent_items, metric = 'lift',min_threshold=1)
type(rules)
rules.shape
rules

pandas.core.frame.DataFrame

(70, 9)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Product1_Bread),(Product2_Butter),0.3510,0.2465,0.2145,0.611111,2.479153,0.127978,1.937571
1,(Product2_Butter),(Product1_Bread),0.2465,0.3510,0.2145,0.870183,2.479153,0.127978,4.999328
2,(Product1_Bread),(Product2_Jam),0.3510,0.3410,0.1280,0.364672,1.069420,0.008309,1.037260
3,(Product2_Jam),(Product1_Bread),0.3410,0.3510,0.1280,0.375367,1.069420,0.008309,1.039009
4,(Product3_Dairy),(Product1_Bread),0.2030,0.3510,0.1005,0.495074,1.410467,0.029247,1.285337
5,(Product1_Bread),(Product3_Dairy),0.3510,0.2030,0.1005,0.286325,1.410467,0.029247,1.116754
6,(Product3_Egg),(Product1_Bread),0.5760,0.3510,0.2505,0.434896,1.239019,0.048324,1.148461
7,(Product1_Bread),(Product3_Egg),0.3510,0.5760,0.2505,0.713675,1.239019,0.048324,1.480836
8,(Product1_Fruits),(Product2_Vegetable),0.1825,0.2160,0.1705,0.934247,4.325216,0.131080,11.923333
9,(Product2_Vegetable),(Product1_Fruits),0.2160,0.1825,0.1705,0.789352,4.325216,0.131080,3.880879
10,(Product1_Fruits),(Product3_Salad),0.1825,0.2210,0.1825,1.000000,4.524887,0.142168,inf
11,(Product3_Salad),(Product1_Fruits),0.2210,0.1825,0.1825,0.825792,4.524887,0.142168,4.692662
12,(Product1_Juice),(Product2_Jam),0.2465,0.3410,0.2010,0.815416,2.391249,0.116944,3.570187
13,(Product2_Jam),(Product1_Juice),0.3410,0.2465,0.2010,0.589443,2.391249,0.116944,1.835311
14,(Product3_Egg),(Product1_Juice),0.5760,0.2465,0.2080,0.361111,1.464954,0.066016,1.179391
15,(Product1_Juice),(Product3_Egg),0.2465,0.5760,0.2080,0.843813,1.464954,0.066016,2.714701
16,(Product1_Nachos),(Product2_Salsa),0.2200,0.1965,0.1880,0.854545,4.348832,0.144770,5.524062
17,(Product2_Salsa),(Product1_Nachos),0.1965,0.2200,0.1880,0.956743,4.348832,0.144770,18.031765
18,(Product1_Nachos),(Product3_Dairy),0.2200,0.2030,0.1025,0.465909,2.295119,0.057840,1.492255
19,(Product3_Dairy),(Product1_Nachos),0.2030,0.2200,0.1025,0.504926,2.295119,0.057840,1.575522
20,(Product3_Dairy),(Product2_Butter),0.2030,0.2465,0.0520,0.256158,1.039179,0.001960,1.012983
21,(Product2_Butter),(Product3_Dairy),0.2465,0.2030,0.0520,0.210953,1.039179,0.001960,1.010080
22,(Product3_Egg),(Product2_Butter),0.5760,0.2465,0.1945,0.337674,1.369873,0.052516,1.137657
23,(Product2_Butter),(Product3_Egg),0.2465,0.5760,0.1945,0.789047,1.369873,0.052516,2.009923
24,(Product3_Dairy),(Product2_Jam),0.2030,0.3410,0.0720,0.354680,1.040117,0.002777,1.021198
25,(Product2_Jam),(Product3_Dairy),0.3410,0.2030,0.0720,0.211144,1.040117,0.002777,1.010323
26,(Product3_Egg),(Product2_Jam),0.5760,0.3410,0.2570,0.446181,1.308447,0.060584,1.189918
27,(Product2_Jam),(Product3_Egg),0.3410,0.5760,0.2570,0.753666,1.308447,0.060584,1.721238
28,(Product3_Dairy),(Product2_Salsa),0.2030,0.1965,0.0790,0.389163,1.980471,0.039110,1.315407
29,(Product2_Salsa),(Product3_Dairy),0.1965,0.2030,0.0790,0.402036,1.980471,0.039110,1.332855
...,...,...,...,...,...,...,...,...,...
40,"(Product3_Dairy, Product1_Bread)",(Product2_Jam),0.1005,0.3410,0.0720,0.716418,2.100932,0.037729,2.323842
41,"(Product3_Dairy, Product2_Jam)",(Product1_Bread),0.0720,0.3510,0.0720,1.000000,2.849003,0.046728,inf
42,"(Product1_Bread, Product2_Jam)",(Product3_Dairy),0.1280,0.2030,0.0720,0.562500,2.770936,0.046016,1.821714
43,(Product3_Dairy),"(Product1_Bread, Product2_Jam)",0.2030,0.1280,0.0720,0.354680,2.770936,0.046016,1.351267
44,(Product1_Bread),"(Product3_Dairy, Product2_Jam)",0.3510,0.0720,0.0720,0.205128,2.849003,0.046728,1.167484
45,(Product2_Jam),"(Product3_Dairy, Product1_Bread)",0.3410,0.1005,0.0720,0.211144,2.100932,0.037729,1.140258
46,"(Product1_Fruits, Product2_Vegetable)",(Product3_Salad),0.1705,0.2210,0.1705,1.000000,4.524887,0.132820,inf
47,"(Product1_Fruits, Product3_Salad)",(Product2_Vegetable),0.1825,0.2160,0.1705,0.934247,4.325216,0.131080,11.923333
48,"(Product2_Vegetable, Product3_Salad)",(Product1_Fruits),0.2090,0.1825,0.1705,0.815789,4.470079,0.132358,4.437857
49,(Product1_Fruits),"(Product2_Vegetable, Product3_Salad)",0.1825,0.2090,0.1705,0.934247,4.470079,0.132358,12.029792
50,(Product2_Vegetable),"(Product1_Fruits, Product3_Salad)",0.2160,0.1825,0.1705,0.789352,4.325216,0.131080,3.880879
51,(Product3_Salad),"(Product1_Fruits, Product2_Vegetable)",0.2210,0.1705,0.1705,0.771493,4.524887,0.132820,3.630089
52,"(Product3_Egg, Product1_Juice)",(Product2_Jam),0.2080,0.3410,0.2010,0.966346,2.833860,0.130072,19.581714
53,"(Product3_Egg, Product2_Jam)",(Product1_Juice),0.2570,0.2465,0.2010,0.782101,3.172824,0.137650,3.458027
54,"(Product1_Juice, Product2_Jam)",(Product3_Egg),0.2010,0.5760,0.2010,1.000000,1.736111,0.085224,inf
55,(Product3_Egg),"(Product1_Juice, Product2_Jam)",0.5760,0.2010,0.2010,0.348958,1.736111,0.085224,1.227264
56,(Product1_Juice),"(Product3_Egg, Product2_Jam)",0.2465,0.2570,0.2010,0.815416,3.172824,0.137650,4.025264
57,(Product2_Jam),"(Product3_Egg, Product1_Juice)",0.3410,0.2080,0.2010,0.589443,2.833860,0.130072,1.929086
58,"(Product1_Nachos, Product3_Dairy)",(Product2_Salsa),0.1025,0.1965,0.0705,0.687805,3.500279,0.050359,2.573711
59,"(Product1_Nachos, Product2_Salsa)",(Product3_Dairy),0.1880,0.2030,0.0705,0.375000,1.847291,0.032336,1.275200
60,"(Product3_Dairy, Product2_Salsa)",(Product1_Nachos),0.0790,0.2200,0.0705,0.892405,4.056387,0.053120,7.249412
61,(Product1_Nachos),"(Product3_Dairy, Product2_Salsa)",0.2200,0.0790,0.0705,0.320455,4.056387,0.053120,1.355318
62,(Product3_Dairy),"(Product1_Nachos, Product2_Salsa)",0.2030,0.1880,0.0705,0.347291,1.847291,0.032336,1.244045
63,(Product2_Salsa),"(Product1_Nachos, Product3_Dairy)",0.1965,0.1025,0.0705,0.358779,3.500279,0.050359,1.399673
64,"(Product3_Egg, Product2_Salsa)",(Product1_Nachos),0.1175,0.2200,0.1175,1.000000,4.545455,0.091650,inf
65,"(Product3_Egg, Product1_Nachos)",(Product2_Salsa),0.1175,0.1965,0.1175,1.000000,5.089059,0.094411,inf
66,"(Product1_Nachos, Product2_Salsa)",(Product3_Egg),0.1880,0.5760,0.1175,0.625000,1.085069,0.009212,1.130667
67,(Product3_Egg),"(Product1_Nachos, Product2_Salsa)",0.5760,0.1880,0.1175,0.203993,1.085069,0.009212,1.020092
68,(Product2_Salsa),"(Product3_Egg, Product1_Nachos)",0.1965,0.1175,0.1175,0.597964,5.089059,0.094411,2.195079
69,(Product1_Nachos),"(Product3_Egg, Product2_Salsa)",0.2200,0.1175,0.1175,0.534091,4.545455,0.091650,1.894146

# Top 10 rules with highest support

In [21]:
rules.sort_values('support',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
27,(Product2_Jam),(Product3_Egg),0.3410,0.5760,0.2570,0.753666,1.308447,0.060584,1.721238
26,(Product3_Egg),(Product2_Jam),0.5760,0.3410,0.2570,0.446181,1.308447,0.060584,1.189918
6,(Product3_Egg),(Product1_Bread),0.5760,0.3510,0.2505,0.434896,1.239019,0.048324,1.148461
7,(Product1_Bread),(Product3_Egg),0.3510,0.5760,0.2505,0.713675,1.239019,0.048324,1.480836
1,(Product2_Butter),(Product1_Bread),0.2465,0.3510,0.2145,0.870183,2.479153,0.127978,4.999328
0,(Product1_Bread),(Product2_Butter),0.3510,0.2465,0.2145,0.611111,2.479153,0.127978,1.937571
32,(Product2_Vegetable),(Product3_Salad),0.2160,0.2210,0.2090,0.967593,4.378247,0.161264,24.037714
33,(Product3_Salad),(Product2_Vegetable),0.2210,0.2160,0.2090,0.945701,4.378247,0.161264,14.438667
14,(Product3_Egg),(Product1_Juice),0.5760,0.2465,0.2080,0.361111,1.464954,0.066016,1.179391
15,(Product1_Juice),(Product3_Egg),0.2465,0.5760,0.2080,0.843813,1.464954,0.066016,2.714701

# Top 10 rules with highest confidence

In [22]:
rules.sort_values('lift',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
68,(Product2_Salsa),"(Product3_Egg, Product1_Nachos)",0.1965,0.1175,0.1175,0.597964,5.089059,0.094411,2.195079
65,"(Product3_Egg, Product1_Nachos)",(Product2_Salsa),0.1175,0.1965,0.1175,1.000000,5.089059,0.094411,inf
69,(Product1_Nachos),"(Product3_Egg, Product2_Salsa)",0.2200,0.1175,0.1175,0.534091,4.545455,0.091650,1.894146
64,"(Product3_Egg, Product2_Salsa)",(Product1_Nachos),0.1175,0.2200,0.1175,1.000000,4.545455,0.091650,inf
11,(Product3_Salad),(Product1_Fruits),0.2210,0.1825,0.1825,0.825792,4.524887,0.142168,4.692662
46,"(Product1_Fruits, Product2_Vegetable)",(Product3_Salad),0.1705,0.2210,0.1705,1.000000,4.524887,0.132820,inf
51,(Product3_Salad),"(Product1_Fruits, Product2_Vegetable)",0.2210,0.1705,0.1705,0.771493,4.524887,0.132820,3.630089
10,(Product1_Fruits),(Product3_Salad),0.1825,0.2210,0.1825,1.000000,4.524887,0.142168,inf
48,"(Product2_Vegetable, Product3_Salad)",(Product1_Fruits),0.2090,0.1825,0.1705,0.815789,4.470079,0.132358,4.437857
49,(Product1_Fruits),"(Product2_Vegetable, Product3_Salad)",0.1825,0.2090,0.1705,0.934247,4.470079,0.132358,12.029792

# selecting only the rules which have lift >2 and confidence >0.0 and support >0.2

In [24]:
rules[(rules['lift']>=2) &
(rules['confidence']>=0.6) & (rules['support']>=0.2)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Product1_Bread),(Product2_Butter),0.3510,0.2465,0.2145,0.611111,2.479153,0.127978,1.937571
1,(Product2_Butter),(Product1_Bread),0.2465,0.3510,0.2145,0.870183,2.479153,0.127978,4.999328
12,(Product1_Juice),(Product2_Jam),0.2465,0.3410,0.2010,0.815416,2.391249,0.116944,3.570187
32,(Product2_Vegetable),(Product3_Salad),0.2160,0.2210,0.2090,0.967593,4.378247,0.161264,24.037714
33,(Product3_Salad),(Product2_Vegetable),0.2210,0.2160,0.2090,0.945701,4.378247,0.161264,14.438667
52,"(Product3_Egg, Product1_Juice)",(Product2_Jam),0.2080,0.3410,0.2010,0.966346,2.833860,0.130072,19.581714
53,"(Product3_Egg, Product2_Jam)",(Product1_Juice),0.2570,0.2465,0.2010,0.782101,3.172824,0.137650,3.458027
56,(Product1_Juice),"(Product3_Egg, Product2_Jam)",0.2465,0.2570,0.2010,0.815416,3.172824,0.137650,4.025264