<a href="https://colab.research.google.com/github/hpsuresh12345/Python-code/blob/master/Prediction_Insurance_charges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
% matplotlib inline
 
from sklearn.linear_model import LogisticRegression
from sklearn.externals import joblib

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
insuranceDF = pd.read_csv('Insurance.csv')
print(insuranceDF.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
insuranceDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [0]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

In [0]:
import pandas_profiling

eda_report = pandas_profiling.ProfileReport(insuranceDF)
eda_report.to_file('Insurance.html')

In [6]:
corr = insuranceDF.corr()
print(corr)
sns.heatmap(corr, 
        xticklabels=corr.columns,
        yticklabels=corr.columns)

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [0]:
dfTrain = insuranceDF[:1000]
dfTest = insuranceDF[1000:1300]
dfCheck = insuranceDF[1300:]

In [8]:
x_catg=insuranceDF.loc[:,('sex','smoker','region')]
x_catg.head()
x_catg.shape

      sex smoker     region
0  female    yes  southwest
1    male     no  southeast
2    male     no  southeast
3    male     no  northwest
4    male     no  northwest

(1338, 3)

In [16]:
#seperate out independent numerical variables
x_num=insuranceDF.loc[:,('age','bmi','charges')]
x_num.head()

   age     bmi      charges
0   19  27.900  16884.92400
1   18  33.770   1725.55230
2   28  33.000   4449.46200
3   33  22.705  21984.47061
4   32  28.880   3866.85520

In [17]:
#convert categorical to Dummy coding
x_num1=pd.get_dummies(x_catg)
x_num1.head()

   sex_female  sex_male  ...  region_southeast  region_southwest
0           1         0  ...                 0                 1
1           0         1  ...                 1                 0
2           0         1  ...                 1                 0
3           0         1  ...                 0                 0
4           0         1  ...                 0                 0

[5 rows x 8 columns]

In [18]:
#get all x's together
x=pd.concat([x_num1,x_num],axis=1)
x.head()
x.info()

   sex_female  sex_male  smoker_no  ...  age     bmi      charges
0           1         0          0  ...   19  27.900  16884.92400
1           0         1          1  ...   18  33.770   1725.55230
2           0         1          1  ...   28  33.000   4449.46200
3           0         1          1  ...   33  22.705  21984.47061
4           0         1          1  ...   32  28.880   3866.85520

[5 rows x 11 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
sex_female          1338 non-null uint8
sex_male            1338 non-null uint8
smoker_no           1338 non-null uint8
smoker_yes          1338 non-null uint8
region_northeast    1338 non-null uint8
region_northwest    1338 non-null uint8
region_southeast    1338 non-null uint8
region_southwest    1338 non-null uint8
age                 1338 non-null int64
bmi                 1338 non-null float64
charges             1338 non-null float64
dtypes: float64(2), int64(1), uint8(8)
memory usage: 41.9 KB

In [0]:
trainLabel = np.asarray(x['charges'])
trainData = np.asarray(x.drop('charges',1))
testLabel = np.asarray(x['charges'])
testData = np.asarray(x.drop('charges',1))

In [0]:
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV
#membentuk estimator menggunakan regresi linear
linreg = LinearRegression()
#membentuk estimator menggunakan model reg ridge dengan CV =5
ridgereg = RidgeCV(alphas=(0.1,0.3,0.7,1.0),cv=5)
#membentuk estimator menggunakan model reg lasso dengan CV = 5
lassoreg = LassoCV(eps=0.001, cv = 5)
from sklearn.model_selection import cross_val_score

In [0]:
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV
#membentuk estimator menggunakan regresi linear
linreg = LinearRegression()
#membentuk estimator menggunakan model reg ridge dengan CV =5
ridgereg = RidgeCV(alphas=(0.1,0.3,0.7,1.0),cv=5)
#membentuk estimator menggunakan model reg lasso dengan CV = 5
lassoreg = LassoCV(eps=0.001, cv = 5)
from sklearn.model_selection import cross_val_score

In [22]:
linreg.fit(trainData,trainLabel) #membuat model regresi untuk x dan y
linreg.score(trainData,trainLabel) #skor regresi linear atau Nilai R square

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

0.7486814989542966

In [23]:
#memunculkan koefisien Beta B1,B2,B3
linreg.coef_
#memunculkan intercept atau Beta nol-B0
linreg.intercept_

array([    55.78500667,    -55.78500667, -11931.45317081,  11931.45317081,
          564.93677848,    260.83319216,   -474.26532292,   -351.50464771,
          258.53969748,    340.45918117])

-246.2259587825174