# Import necessary Packages

In [3]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas_profiling
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import mlxtend as ml
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

# Read input file and display head, tail and info

In [4]:
df=pd.read_excel('Online_Retail.xlsx')
df.head()
df.tail()
df.info()
df.describe()
df.Country.nunique()
df.Country.unique()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France
1,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France
2,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
3,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France
4,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
8552,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
8553,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
8554,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
8555,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
8556,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8557 entries, 0 to 8556
Data columns (total 8 columns):
InvoiceNo      8557 non-null object
StockCode      8557 non-null object
Description    8557 non-null object
Quantity       8557 non-null int64
InvoiceDate    8557 non-null datetime64[ns]
UnitPrice      8557 non-null float64
CustomerID     8491 non-null float64
Country        8557 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 534.9+ KB

          Quantity    UnitPrice    CustomerID
count  8557.000000  8557.000000   8491.000000
mean     12.911067     5.028864  12677.995996
std      21.425031    79.909126    276.742088
min    -250.000000     0.000000  12413.000000
25%       5.000000     1.250000  12571.000000
50%      10.000000     1.790000  12674.000000
75%      12.000000     3.750000  12689.000000
max     912.000000  4161.060000  14277.000000

1

array(['France'], dtype=object)

# remove additional spaces,remove NA values,remove cancelled orders

In [5]:
df['Description'] = df['Description'].str.strip()
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[~df['InvoiceNo'].str.contains('C')]

# Creation of Basket

In [8]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

def create_basket(country_filter):
    basket = (df[df['Country'] == country_filter]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
    return basket

# Pandas profiling report

In [9]:
eda_report=pandas_profiling.ProfileReport(df)
eda_report.to_file("Retail_Market_19July2019_EDA_report.html")

# Selected France Online data for the Market Basket analysis

In [10]:
country_filter = "France"
basket_french = create_basket("France")
basket_sets = basket_french.applymap(encode_units)
basket_sets.drop('POSTAGE', inplace=True, axis=1)

In [11]:
basket_sets.shape

(392, 1562)

# find rules which have at least 5% support level

In [21]:
frequent_items=apriori(basket_sets, min_support = 0.05, use_colnames=True)
frequent_items
frequent_items.head()
frequent_items.tail()

      support                                           itemsets
0    0.071429                      (4 TRADITIONAL SPINNING TOPS)
1    0.096939                       (ALARM CLOCK BAKELIKE GREEN)
2    0.102041                        (ALARM CLOCK BAKELIKE PINK)
3    0.094388                         (ALARM CLOCK BAKELIKE RED)
4    0.068878                       (ASSORTED COLOUR MINI CASES)
5    0.081633                     (BAKING SET 9 PIECE RETROSPOT)
6    0.051020                            (BLUE HARMONICA IN BOX)
7    0.068878                      (CHARLOTTE BAG APPLES DESIGN)
8    0.066327                  (CHARLOTTE BAG DOLLY GIRL DESIGN)
9    0.058673                      (CHARLOTTE BAG PINK POLKADOT)
10   0.051020                      (CHILDREN'S APRON DOLLY GIRL)
11   0.066327                  (CHILDRENS APRON SPACEBOY DESIGN)
12   0.071429                     (CHILDRENS CUTLERY DOLLY GIRL)
13   0.068878                       (CHILDRENS CUTLERY SPACEBOY)
14   0.056122                  (CIRCUS PARADE CHILDRENS EGG CUP)
15   0.068878                          (CIRCUS PARADE LUNCH BOX)
16   0.068878                         (COFFEE MUG APPLES DESIGN)
17   0.099490                             (DOLLY GIRL LUNCH BOX)
18   0.058673                                (GUMBALL COAT RACK)
19   0.053571                           (JAM MAKING SET PRINTED)
20   0.066327                                 (JUMBO BAG APPLES)
21   0.096939                          (JUMBO BAG RED RETROSPOT)
22   0.063776                        (JUMBO BAG SPACEBOY DESIGN)
23   0.076531                       (JUMBO BAG WOODLAND ANIMALS)
24   0.125000                           (LUNCH BAG APPLE DESIGN)
25   0.084184                      (LUNCH BAG DOLLY GIRL DESIGN)
26   0.153061                          (LUNCH BAG RED RETROSPOT)
27   0.119898                        (LUNCH BAG SPACEBOY DESIGN)
28   0.051020                          (LUNCH BAG VINTAGE DOILY)
29   0.117347                               (LUNCH BAG WOODLAND)
..        ...                                                ...
83   0.063776  (LUNCH BAG SPACEBOY DESIGN, LUNCH BAG APPLE DE...
84   0.053571       (LUNCH BAG WOODLAND, LUNCH BAG APPLE DESIGN)
85   0.051020  (LUNCH BAG SPACEBOY DESIGN, LUNCH BAG DOLLY GI...
86   0.066327  (LUNCH BAG SPACEBOY DESIGN, LUNCH BAG RED RETR...
87   0.056122      (LUNCH BAG RED RETROSPOT, LUNCH BAG WOODLAND)
88   0.051020  (LUNCH BAG RED RETROSPOT, LUNCH BOX WITH CUTLE...
89   0.053571      (LUNCH BAG RED RETROSPOT, SPACEBOY LUNCH BOX)
90   0.063776    (LUNCH BAG SPACEBOY DESIGN, LUNCH BAG WOODLAND)
91   0.053571  (LUNCH BAG SPACEBOY DESIGN, PLASTERS IN TIN SP...
92   0.056122    (LUNCH BAG SPACEBOY DESIGN, SPACEBOY LUNCH BOX)
93   0.051020  (RED RETROSPOT MINI CASES, LUNCH BOX WITH CUTL...
94   0.063776  (STRAWBERRY LUNCH BOX WITH CUTLERY, LUNCH BOX ...
95   0.051020  (PACK OF 6 SKULL PAPER PLATES, PACK OF 6 SKULL...
96   0.089286  (PLASTERS IN TIN CIRCUS PARADE, PLASTERS IN TI...
97   0.058673  (PLASTERS IN TIN CIRCUS PARADE, PLASTERS IN TI...
98   0.102041  (PLASTERS IN TIN WOODLAND ANIMALS, PLASTERS IN...
99   0.051020  (RED RETROSPOT MINI CASES, PLASTERS IN TIN CIR...
100  0.051020  (RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...
101  0.053571  (ROUND SNACK BOXES SET OF4 WOODLAND, PLASTERS ...
102  0.104592  (PLASTERS IN TIN WOODLAND ANIMALS, PLASTERS IN...
103  0.053571  (PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...
104  0.053571  (RED TOADSTOOL LED NIGHT LIGHT, RABBIT NIGHT L...
105  0.051020  (RED RETROSPOT MINI CASES, ROUND SNACK BOXES S...
106  0.063776  (ROUND SNACK BOXES SET OF4 WOODLAND, ROUND SNA...
107  0.102041  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...
108  0.102041  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...
109  0.122449  (SET/6 RED SPOTTY PAPER CUPS, SET/6 RED SPOTTY...
110  0.063776  (ALARM CLOCK BAKELIKE RED, ALARM CLOCK BAKELIK...
111  0.068878  (PLASTERS IN TIN WOODLAND ANIMALS, PLASTERS IN...
112  0.099490  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...

[113 rows x 2 columns]

    support                       itemsets
0  0.071429  (4 TRADITIONAL SPINNING TOPS)
1  0.096939   (ALARM CLOCK BAKELIKE GREEN)
2  0.102041    (ALARM CLOCK BAKELIKE PINK)
3  0.094388     (ALARM CLOCK BAKELIKE RED)
4  0.068878   (ASSORTED COLOUR MINI CASES)

      support                                           itemsets
108  0.102041  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...
109  0.122449  (SET/6 RED SPOTTY PAPER CUPS, SET/6 RED SPOTTY...
110  0.063776  (ALARM CLOCK BAKELIKE RED, ALARM CLOCK BAKELIK...
111  0.068878  (PLASTERS IN TIN WOODLAND ANIMALS, PLASTERS IN...
112  0.099490  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...

# build rules with minimum lift of 1

In [15]:
rules = association_rules(frequent_items, metric="lift", min_threshold=1.2)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE PINK),0.096939,0.102041,0.073980,0.763158,7.478947,0.064088,3.791383
1,(ALARM CLOCK BAKELIKE PINK),(ALARM CLOCK BAKELIKE GREEN),0.102041,0.096939,0.073980,0.725000,7.478947,0.064088,3.283859
2,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED),0.096939,0.094388,0.079082,0.815789,8.642959,0.069932,4.916181
3,(ALARM CLOCK BAKELIKE RED),(ALARM CLOCK BAKELIKE GREEN),0.094388,0.096939,0.079082,0.837838,8.642959,0.069932,5.568878
4,(ALARM CLOCK BAKELIKE RED),(ALARM CLOCK BAKELIKE PINK),0.094388,0.102041,0.073980,0.783784,7.681081,0.064348,4.153061

# Top 10 rules with highest support

In [16]:
rules.sort_values('support',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
66,(SET/6 RED SPOTTY PAPER CUPS),(SET/6 RED SPOTTY PAPER PLATES),0.137755,0.127551,0.122449,0.888889,6.968889,0.104878,7.852041
67,(SET/6 RED SPOTTY PAPER PLATES),(SET/6 RED SPOTTY PAPER CUPS),0.127551,0.137755,0.122449,0.960000,6.968889,0.104878,21.556122
52,(PLASTERS IN TIN WOODLAND ANIMALS),(PLASTERS IN TIN SPACEBOY),0.170918,0.137755,0.104592,0.611940,4.442233,0.081047,2.221939
53,(PLASTERS IN TIN SPACEBOY),(PLASTERS IN TIN WOODLAND ANIMALS),0.137755,0.170918,0.104592,0.759259,4.442233,0.081047,3.443878
65,(SET/6 RED SPOTTY PAPER PLATES),(SET/20 RED RETROSPOT PAPER NAPKINS),0.127551,0.132653,0.102041,0.800000,6.030769,0.085121,4.336735
44,(PLASTERS IN TIN WOODLAND ANIMALS),(PLASTERS IN TIN CIRCUS PARADE),0.170918,0.168367,0.102041,0.597015,3.545907,0.073264,2.063681
45,(PLASTERS IN TIN CIRCUS PARADE),(PLASTERS IN TIN WOODLAND ANIMALS),0.168367,0.170918,0.102041,0.606061,3.545907,0.073264,2.104592
62,(SET/20 RED RETROSPOT PAPER NAPKINS),(SET/6 RED SPOTTY PAPER CUPS),0.132653,0.137755,0.102041,0.769231,5.584046,0.083767,3.736395
63,(SET/6 RED SPOTTY PAPER CUPS),(SET/20 RED RETROSPOT PAPER NAPKINS),0.137755,0.132653,0.102041,0.740741,5.584046,0.083767,3.345481
64,(SET/20 RED RETROSPOT PAPER NAPKINS),(SET/6 RED SPOTTY PAPER PLATES),0.132653,0.127551,0.102041,0.769231,6.030769,0.085121,3.780612

# Top 10 rules with highest confidence

In [17]:
rules.sort_values('lift',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
39,(PACK OF 6 SKULL PAPER CUPS),(PACK OF 6 SKULL PAPER PLATES),0.063776,0.056122,0.051020,0.800000,14.254545,0.047441,4.719388
38,(PACK OF 6 SKULL PAPER PLATES),(PACK OF 6 SKULL PAPER CUPS),0.056122,0.063776,0.051020,0.909091,14.254545,0.047441,10.298469
9,(CHILDRENS CUTLERY DOLLY GIRL),(CHILDRENS CUTLERY SPACEBOY),0.071429,0.068878,0.063776,0.892857,12.962963,0.058856,8.690476
8,(CHILDRENS CUTLERY SPACEBOY),(CHILDRENS CUTLERY DOLLY GIRL),0.068878,0.071429,0.063776,0.925926,12.962963,0.058856,12.535714
71,(ALARM CLOCK BAKELIKE RED),"(ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKEL...",0.094388,0.073980,0.063776,0.675676,9.133271,0.056793,2.855230
70,"(ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKEL...",(ALARM CLOCK BAKELIKE RED),0.073980,0.094388,0.063776,0.862069,9.133271,0.056793,6.565689
72,(ALARM CLOCK BAKELIKE GREEN),"(ALARM CLOCK BAKELIKE PINK, ALARM CLOCK BAKELI...",0.096939,0.073980,0.063776,0.657895,8.892922,0.056604,2.706829
69,"(ALARM CLOCK BAKELIKE PINK, ALARM CLOCK BAKELI...",(ALARM CLOCK BAKELIKE GREEN),0.073980,0.096939,0.063776,0.862069,8.892922,0.056604,6.547194
3,(ALARM CLOCK BAKELIKE RED),(ALARM CLOCK BAKELIKE GREEN),0.094388,0.096939,0.079082,0.837838,8.642959,0.069932,5.568878
2,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED),0.096939,0.094388,0.079082,0.815789,8.642959,0.069932,4.916181