# Import necessary Packages

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas_profiling
import seaborn as sns
import matplotlib.pyplot as plt
import mlxtend as ml
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

In [2]:
data=pd.read_csv('Retail_Data.csv')
data=data.iloc[:,1:]
data.head()
data.tail()
data.info()
data.describe()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,40513.4,2.6,17850.0,United Kingdom
1,71053.0,WHITE METAL LANTERN,6.0,40513.4,3.4,17850.0,United Kingdom
2,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,40513.4,2.8,17850.0,United Kingdom
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,40513.4,3.4,17850.0,United Kingdom
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,40513.4,3.4,17850.0,United Kingdom

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
495460,22466.0,FAIRY TALE COTTAGE NIGHT LIGHT,12.0,40886.5,2.0,15804.0,United Kingdom
495461,22061.0,LARGE CAKE STAND HANGING STRAWBERY,8.0,40886.5,3.0,13113.0,United Kingdom
495462,23275.0,SET OF 3 HANGING OWLS OLLIE BEAK,24.0,40886.5,1.3,13113.0,United Kingdom
495463,21217.0,RED RETROSPOT ROUND CAKE TINS,24.0,40886.5,9.0,13113.0,United Kingdom
495464,20685.0,DOORMAT RED RETROSPOT,10.0,40886.5,7.1,13113.0,United Kingdom

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495465 entries, 0 to 495464
Data columns (total 7 columns):
StockCode      484593 non-null object
Description    484593 non-null object
Quantity       484593 non-null float64
InvoiceDate    484593 non-null float64
UnitPrice      484593 non-null float64
CustomerID     354321 non-null float64
Country        484593 non-null object
dtypes: float64(4), object(3)
memory usage: 26.5+ MB

           Quantity    InvoiceDate      UnitPrice     CustomerID
count  484593.00000  484593.000000  484593.000000  354321.000000
mean        9.61875   40728.758640       3.875492   15552.486392
std       161.99244     116.428156      34.686226    1594.527150
min         1.00000   40513.400000       0.000000   12346.000000
25%         1.00000   40630.400000       1.300000   14194.000000
50%         3.00000   40744.500000       2.100000   15522.000000
75%        10.00000   40836.600000       4.100000   16931.000000
max     80995.00000   40886.500000   13541.300000   18287.000000

In [ ]:
eda_report=pandas_profiling.ProfileReport(data)
eda_report.to_file("Retail_Market_15July2019_EDA_report.html")

In [4]:
data.head()

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,40513.4,2.6,17850.0,United Kingdom
1,71053.0,WHITE METAL LANTERN,6.0,40513.4,3.4,17850.0,United Kingdom
2,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,40513.4,2.8,17850.0,United Kingdom
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,40513.4,3.4,17850.0,United Kingdom
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,40513.4,3.4,17850.0,United Kingdom

In [5]:
data.shape

(495465, 7)

# find rules which have at least 5% support level

In [6]:
frequent_items=apriori(data, min_support = 0.05, use_colnames=True)

TypeError: '<' not supported between instances of 'float' and 'str'

# build rules with minimum lift of 1

In [ ]:
rules = association_rules(frequent_items, metric = 'lift',min_threshold=1)
type(rules)
rules.shape
rules

# Top 10 rules with highest support

In [ ]:
rules.sort_values('support',ascending = False).head(10)

# Top 10 rules with highest confidence

In [ ]:
rules.sort_values('lift',ascending = False).head(10)

# selecting only the rules which have lift >2 and confidence >0.0 and support >0.2

In [ ]:
rules[(rules['lift']>=2) &
(rules['confidence']>=0.6) & (rules['support']>=0.2)]